.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.contact {
  margin-bottom: 20px;
}

.contact h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.contact ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.contact ul li i {
  margin-right: 5px;
}

.contact ul li a {
  color: #333;
  text-decoration: none;
}

.contact ul li a:hover {
  text-decoration: underline;
}

.list {
  list-style: none;
  display: inline-flex;
}

.listItem {
  padding-right: 10px;
  padding-left: 10px;
}

.vscodeTheme {
  background-color: #000000;
  color: #0f0f0f;
  padding: 0;
  line-height: 0;
}

.languageHtml {
  color: #080808;
  font-size: 10px;
}

.cloneBody {
  margin: auto;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clondeDiv {
  width: 500px;
  height: 300px;
  display: grid;
  border: 10px rgb(184, 57, 57) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloneDiv:hover {
  background: rgb(227, 245, 149);
}

.cloneAnchor {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.nav {
  position: fixed;
  top: 0px;
  max-height: 100px;
  width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(87, 87, 87, 0.089);
  transition: transform 0.9s ease-in-out;
}

.navHidden {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.navHidden>* {
  transform: translateY(-100%);
}

.nav {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.nav > * {
  transform: translateY(0);
  transition: transform 0.9s ease-in-out;
}

.navList {
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  background-color: rgba(87, 87, 87, 0.089);
  border-radius: 10px;
}

.navList:hover {
  background-color: rgba(87, 87, 87, 0.651);
}

@media only screen and (max-width: 600px) {
  .nav {
    display: inline-flex;
  }

  .navBox {
    display: grid;
    grid-auto-flow: column;
    /* Display items in a single line horizontally */
  }

  .logo {
    width: 50%;
  }

  .navList {
    margin: 0px 10px;
    font-size: medium;
  }
}

.listItem {
  font-size: 20px;
}